  
 <%-include("header") -%>
 
 
        <div class="box" id="heading">
        <h1><%=listItem%></h1></div>

        <div class="box">
            <% for(var i=0;i < newListItems.length;i++){ %> 
                <div class="item">
                    <input type="checkbox" 
                    <p> <%= newListItems[i] %></p> 
                </div>
        <% } %>
        

        

        

        

        <form  class="item" action="/" method="POST">
        <input type="text" name="newitems" placeholder="New Item" autocomplete="off">
        <button type="submit" name="button" value=<%=listItem %> add </button></form>
        </div>






     <%-include("footer") -%>